@font-face {
	font-family: MateusBlack;
	src: url(fonts/Meutas-Black.otf)
}

body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	font-family: MateusBlack;

	--primary-color-bg: #004071;
	--primary-color-text: #fff;
}

.slide .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.hero .logo {
	position: absolute;
	width: 100%;
	height: 100%;
}

.intro .text {
	margin: 0 auto;
	position: absolute;
	font-size: 1.2rem;
	padding: 0 40px;
	text-align: center;
	top: 20%;
}

.happy-family-vid {
	/* width: 100%; */
	height: 100%;
	opacity: .5;
}

.intro {
	background-image: url(assets/happy-family.jpg);
	background-color: var(--primary-color-bg);
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--primary-color-text);
	height: 100vh;
}

.intro:before {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	opacity: .7;
	background-color: var(--primary-color-bg);
}

.client-connection {
	background-color: var(--primary-color-text);
	color: var(--primary-color-bg);
}

.purpose {
	background-color: var(--primary-color-bg);
	color: var(--primary-color-text);
}

.benefits {
	background-color: var(--primary-color-text);
	color: var(--primary-color-bg);
}

.solution {
	background-color: var(--primary-color-bg);
	color: var(--primary-color-text);
}

.cta {
	background-color: var(--primary-color-bg);
	color: var(--primary-color-text);
}

.differential {
	background-color: var(--primary-color-text);
	color: var(--primary-color-bg);
}


.cls-1 {
	fill: transparent;
	stroke: black;
}

.cls-1-f {
	transition: ease 2s;
	fill: var(--primary-color-bg);
	stroke: transparent;
}

